In [1]:
import pandas as pd
import numpy as np

### Day 1

In [24]:
with open('d0.txt') as f:
    p_input = f.read().splitlines()

In [25]:
index = pd.MultiIndex.from_product([p_input, p_input], names=['a', 'b'])

df = pd.DataFrame(index=index).reset_index()

df.a = pd.to_numeric(df.a)
df.b = pd.to_numeric(df.b)

df['total'] = df.a + df.b

results = df[df.total == 2020].copy()

results["product"] = results.a * results.b

results

          a     b  total  product
2858   1771   249   2020   440979
11614   249  1771   2020   440979

In [26]:
index = pd.MultiIndex.from_product([p_input, p_input, p_input], names=['a', 'b', 'c'])

df = pd.DataFrame(index=index).reset_index()

df.a = pd.to_numeric(df.a)
df.b = pd.to_numeric(df.b)
df.c = pd.to_numeric(df.c)

df['total'] = df.a + df.b + df.c

results = df[df.total == 2020].copy()

results["product"] = results.a * results.b * results.c

results

            a     b     c  total   product
2102926   274   194  1552   2020  82498112
2105314   274  1552   194   2020  82498112
4570526   194   274  1552   2020  82498112
4585252   194  1552   274   2020  82498112
5050514  1552   274   194   2020  82498112
5062852  1552   194   274   2020  82498112

### Day 2

In [23]:
with open('d1.txt') as f:
    pi = f.read().splitlines()

In [18]:
## Part 1

def is_valid(pw, min_i, max_i, char):
    return min_i <= pw.count(char) <= max_i

valid = 0

for pw_s in pi:
    pw_s = pw_s.split(' ')
    min_instances = int(pw_s[0].split('-')[0])
    max_instances = int(pw_s[0].split('-')[1])
    char = pw_s[1][:len(pw_s[1])-1]
    pw = pw_s[2]
    
    if is_valid(pw, min_instances, max_instances, char):
        valid += 1
        
print(valid)

414

In [37]:
## Part 2

def is_valid(pw, pos_1, pos_2, char):
    c1 = None
    c2 = None
    
    try:
        c1 = pw[pos_1-1]
    except IndexError:
        pass
    try:
        c2 = pw[pos_2-1]
    except IndexError:
        pass
    
    val_c = 0
    if c1 == char:
        val_c += 1
    if c2 == char:
        val_c += 1
    if val_c == 1:
        return True
    return False


valid = 0

for pw_s in pi:
    pw_s = pw_s.split(' ')
    pos_1 = int(pw_s[0].split('-')[0])
    pos_2 = int(pw_s[0].split('-')[1])
    char = pw_s[1][:len(pw_s[1])-1]
    pw = pw_s[2]
    
    if is_valid(pw, pos_1, pos_2, char):
        valid += 1
        
print(valid)

413

### Day 3

In [40]:
with open('d2_t.txt') as f:
    t_block = f.read().splitlines()
  
def t_map(c):
    if c == '.':
        return 0
    return 1

r = [[t_map(c) for c in row] for row in t_block]

In [ ]:
height = len(r)
width = len(r[0])

across = 5
down = 1

step_a = across
step_d = down

total_trees = 0

def tree_or_not(r, across, down):
    return r[down % height][across % width]

while down < height:
    is_tree = tree_or_not(r, across, down)
    across += step_a
    down += step_d
    
    total_trees += is_tree
    
print(total_trees)

In [45]:
67 * 211 * 77 * 89 * 37

3584591857

### Day 4

In [34]:
import re

with open('d3.txt') as f:
    ps = f.read()
    
batch = [r.replace('\n', ' ') for r in ps.split('\n\n')]

required_fields = ['byr', 'iyr', 'eyr', 'hgt', 'hcl', 'ecl', 'pid']
        
valid_passports = 0
    
for passport in batch:
    fields = {}
    
    for field in passport.split():
        fields[field.split(':')[0]] = field.split(':')[1]
        
    try:
        for f in required_fields:
            fields[f]
        
        # Birth year
        byr = fields['byr']
        if len(byr) != 4 or not (1920 <= int(byr) <= 2002):
            continue
            
        # Issue year
        iyr = fields['iyr']
        if len(iyr) != 4 or not (2010 <= int(iyr) <= 2020):
            continue
            
        # Expiry year
        eyr = fields['eyr']
        if len(eyr) != 4 or not (2020 <= int(eyr) <= 2030):
            continue
        
        # Height
        height = fields['hgt']
        try:
            magnitude = int(height[:len(height)-2])
            unit = height[len(height)-2:]
        except ValueError:
            continue
        
        if unit not in ['cm', 'in']:
            continue
            
        if unit == 'cm':
            if not (150 <= magnitude <= 193):
                continue
        
        if unit == 'in':
            if not (59 <= magnitude <= 76):
                continue
                
        # Hair Color
        hcl = fields['hcl']
        
        if hcl[0] != '#' or len(hcl[1:]) != 6:
            continue
            
        if not re.compile('^[a-z0-9]+$').match(hcl[1:]):
            continue
            
        # Eye Color
        ecl = fields['ecl']
        acceptable_eyes = ['amb', 'blu', 'brn', 'gry', 'grn', 'hzl', 'oth']
        
        if not ecl in acceptable_eyes:
            continue
            
        # PID
        pid = fields['pid']
        
        if len(pid) != 9:
            continue
            
        valid_passports += 1
        
    except KeyError:
        pass

valid_passports

131

### Day 5

In [54]:
import math

def binary_partition(a, directions):
    if len(a) == 1:
        return a[0]
    
    midpoint = math.ceil((len(a)-1) / 2)
    
    direction = directions.pop()

    if direction in ('F', 'L'):
        a = a[0:midpoint]
    else:
        a = a[midpoint:]
        
    return binary_partition(a, directions)
    
        
with open('d4.txt') as f:
    passes = f.read().splitlines()

In [57]:
max_seat_id = 0
highest_pass = ''

obs_ids = []

for bp in passes:
    y = binary_partition(range(128), [c for c in bp[:7]][::-1])
    x = binary_partition(range(8), [c for c in bp[7:]][::-1])
    seat_id = (8 * y) + x
    
    # Added for part 2
    obs_ids.append(seat_id)
    
    if seat_id > max_seat_id:
        max_seat_id = seat_id
        highest_pass = bp
        
print(max_seat_id)

842

In [62]:
# Part 2

set(range(min(obs_ids), max(obs_ids)+1)).difference(set(obs_ids))

{617}